*{
    margin: 0;
    font-family: Arial;
    border: border-box;

}
/* Normal styles */
body {
    font-size: 16rem;
  }
  
  /* Responsive styles for mobile devices */
  @media only screen and (max-width: 600rem16rem) {
    body {
      font-size: 14rem16rem;
    }
    /* Add other styles for smaller screens */
  }
.navbar{
    height: 60rem16rem;
    background-color: #0f1111;
    color: rgb(233, 234, 237);  
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}

.nav-logo{
    height: 50rem16rem;
    width: 100rem16rem;
    
}

.logo{
    background-image:url("amazon_logo.png");
    background-size:cover;
    height: 50rem16rem;
    width: 80%;
}
.border{
    border:1.5rem16rem solid transparent;
}
.border:hover{
    border: 1.5rem16rem solid white;
}
/* box 2 */
.add-first{
    color: #ccc;
    font-size: 0.85rem;
    margin-left: 15rem16rem;
    
}
.add-sec{
font-size: 1rem;
    margin-left: 3rem16rem;
}
.add-icon{
display: flex;
align-items: center;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    /* background-color: rgb(221, 113, 196); */
    width: 620rem16rem;
    height: 40rem16rem;
    border-radius: 4rem16rem;
   
}
.search-select{
    background-color: #f3f;
width: 50rem16rem;
text-align: center;
border-top-left-radius: 4rem16rem;
border-bottom-left-radius: 4rem16rem;
border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;

}
.search-icon{
    width: 45rem16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgb(245, 192, 35);
    border-top-right-radius: 4rem16rem;
    border-bottom-right-radius: 4rem16rem;
}
.nav-search:hover{
    border: 3rem16rem solid rgb(245, 192, 35);

}

/* Box 4 */
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
/* Box5 */

.nav-card i {
font-size: 35rem16rem;

}
.nav-card border{
    font-size: 0.85rem;
    font-weight: 700;
}
/* panel */
.panel{
    height: 40rem16rem;
    color: white;
background-color: #222f3d;
display: flex;
align-items: center;
justify-content: space-evenly;
}
.panel-ops p {
    display: inline;
    margin: 15rem16rem;
}
.panel-ops{
    width: 75%;
    font-size: 0.85rem;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section */
.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;
    height: 400rem16rem;
    display: flex;
justify-content: center;
align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color:black ;
    height: 40rem16rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25rem16rem;
}
/* shop secyion */
.shop-section{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;
    background-color: #aeb9b7;
}
.box{
    /* border: 2px solid black; */
    height: 350rem16rem;
    width: 24%;
    background-color: white;
    padding: 20px 0px 15rem16rem;
    margin: 5rem16rem;
}
.Box-image1{
    background-image: url("box1_image.jpg") ;
    height:250rem16rem;
    margin-top: 1rem ;
    margin-bottom: 1rem ;
    background-size: cover;
    
}
.box-contant{
    margin-left: 10rem16rem;
    margin-right: 10rem16rem;
}
.box-contant p{
    color: blue;
}
.Box-image2{
    background-image: url("box2_image.jpg") ;
    height:250rem16rem;
    margin-top: 1rem ;
    margin-bottom: 1rem ;
    background-size: cover;
    
}
.Box-image3{
    background-image: url("box3_image.jpg") ;
    height:250rem16rem;
    margin-top: 1rem ;
    margin-bottom: 1rem ;
    background-size: cover;
    
}
.Box-image4{
    background-image: url("box4_image.jpg") ;
    height:250rem16rem;
    margin-top: 1rem ;
    margin-bottom: 1rem ;
    background-size: cover;
    
}
.Box-image5{
    background-image: url("box5_image.jpg") ;
    height:250rem16rem;
    margin-top: 1rem ;
    margin-bottom: 1rem ;
    background-size: cover;
    
}
.Box-image6{
    background-image: url("box6_image.jpg") ;
    height:250rem16rem;
    margin-top: 1rem ;
    margin-bottom: 1rem ;
    background-size: cover;
    
}
.Box-image7{
    background-image: url("box7_image.jpg") ;
    height:250rem16rem;
    margin-top: 1rem ;
    margin-bottom: 1rem ;
    background-size: cover;
    
}
.Box-image8{
    background-image: url("box8_image.jpg") ;
    height:250rem16rem;
    margin-top: 1rem ;
    margin-bottom: 1rem ;
    background-size: cover;
    
}
/* footer */
.footer{
    margin-top: 15rem16rem;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 50rem16rem;

    display: flex;
justify-content: center;
align-items: center;
font-size: 0.85;
}
.foot-panel2{
    background-color: #222f3d;
    color: white;
    height: 300rem16rem;
    display: flex;
    justify-content: space-evenly;


}
ul a{
    display: block;
    font-size: .85rem;
    margin-top: 10rem16rem;
    color: #dddddd;
    }
ul p{
    margin-top: 12rem16rem;
}
.foot-panel3{
    background-color: #222f3d;
    border-top: 2rem16rem solid white;
    height: 70rem16rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.logo{
    background-image:url("amazon_logo.png");
    background-size:cover;
    height: 5rem16rem;
    width: 100rem16rem;

}
.add-icon{
    font-size: 3rem;
    

}










